/* Styling for the global elements */
html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	background-color: #e0e0e0;
	font-family: ubuntu;
}
a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}
header {
	background-color: rosybrown;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
}
header img {
	margin-left: 1%;
}
footer {
	background-color: rosybrown;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 0 2%;
}
footer p {
	align-self: flex-end;
}

/* Making white spaces around the main content */
.main {
	margin: 2% 4% 2% 4%;
	padding: 60px 0;
}

/* Since header and footer are fixed content shouldn't be covered by them */
.main {
	padding: 60px 0;
}
.main img {
	height: 350px;
}
.main-wrapper {
	width: 100%;
	height: 100%;
}

/* Form layout */
.form-item {
	margin: 4% 8%;
	display: flex;
	justify-content: space-between;
}

/* Preparing the container div for the carousel and form part */
.payment-form {
	border: 1px solid black;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* To center the carousel and the form */
.payment-form > div {
	text-align: center;
}
form {
	padding: 0 8%;
}
.form-item {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
/* Giving the input fields a width */
.input {
	width: 60%;
}

/* Social icons present in the footer */
.socials a {
	display: inline;
}
.socials a img {
	height: 20px;
	width: 22px;
}
