#logo{
    height: 60px;
    width: 60px;
}
.hotel-img{
    height: 200px;
    width: 250px;
}
#social-img{
    height: 20px;
    width: 22px;
}
body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
  }
  footer{
      margin: 0%;
      background-color: rosybrown;
  }
  header{
      margin: 0%;
      background-color: rosybrown;
  }
  .hotel-list{
      margin: 2%;
      background-color:  rgb(132,136,139);
      width: 40%;
  }