.main-wrapper {
	width: 100%;
	height: 100%;
}
.main {
	padding: 80px 0 60px 0;
}
.main ul {
	text-align: center;
	list-style-type: none;
}
.main ul li {
	display: inline;
	margin: 0 1%;
}

/* Styling for the modals */
.form-item {
	margin: 4% 8%;
	display: flex;
	justify-content: space-between;
}

#map-view {
	display: none;
}

.hotel-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.description {
	margin-left: 2%;
}
.hotel-list-item {
	display: flex;
	flex: 1 0 40%;
	margin: 2%;
	background-color: lightgrey;
	max-width: 40%;
}
.hotel-list-item:hover {
	background-color: rosybrown;
}
.hotel-list-item img {
	width: 150px;
	height: 150px;
}