/* Styling the main card with the otel image */
.content {
	background-color: rgb(132, 136, 139);
	display: flex;
	align-items: center;
	width: 50%;
	height: 20%;
	margin: 2% auto;
}

/* Tarrif details card with the required information */
.tarrif-details {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rosybrown;
	margin: 2%;
	border: 1px solid black;
	padding: 1% 2%;
	border-radius: 5px;
}

/* Styling for the modals */
.form-item {
	margin: 4% 8%;
	display: flex;
	justify-content: space-between;
}

.main {
	padding: 60px 0;
}
.main img {
	height: 300px;
}

.main-wrapper {
	width: 100%;
	height: 100%;
}